.logo-wrapper {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.logo-wrapper span.title {
  font-size: 4.8em;
  font-weight: 500;
  letter-spacing: -5px;
  margin: 0 auto;
}

.logo-wrapper div.background-bar {
  margin: -25px auto 0;
  position: relative;
  width: 350px;
}

.logo-wrapper div.background-bar:before {
  border-top: 2px solid #dfdfdf;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%; left: 0; right: 0; bottom: 0;
}

.logo-wrapper span.subtitle {
  background-color: $background-white;
  color: #999;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 auto;
  padding: 0 2px;
  position: relative;
  z-index: 1;
}

// header definition

.logo-wrapper.header {
  border-bottom: 1px solid #e5e5e5;
}

.logo-wrapper.header .logo-container {
  padding: 1.2em 0 3.5em 0;
}

// inverse definition

.logo-wrapper.inverse span.subtitle {
  background-color: $background-black;
}

@media screen and (min-width: 360px) {
  .logo-wrapper span.title {
    font-size: 4em;
  }
}
