@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,600,700');

body {
  font-family: 'PT Sans', sans-serif;
}

.content p,
.content li {
  line-height: 1.8em;
}

.content li {
  list-style-type: square;
}
