$anchor-hover-grey: #999;
$anchor-hover-red: #ff6600;
$anchor-white: #fff;

$background-black: #000;
$background-grey: #f2f2f2;
$background-red: #ff502e;
$background-white: #fff;

$font-white: #fff;

$max-width: 720px;

$content-grey: #888888;
$content-red: #ff6600;
