body {
  background-color: $background-grey;
}

footer {
  color: $font-white;
}

footer .copyright {
  color: $content-grey;
}

footer .nav-link {
  color: $anchor-white;
  font-weight: 600;
  text-transform: uppercase;
}

footer .nav-link:hover {
  color: $anchor-hover-grey;
}

header {
  background-color: $background-grey;
}

header .logo-container {
  background-color: $background-white;
}

h2,
h3,
h4,
h5,
h6,
.page a {
  color: $content-red;
}

.bg-dark {
  background-color: #000 !important;
}

.container.page {
  background-color: $background-white;
}

.footer-wrapper {
  background-color: $background-black;
}

.navbar-nav .nav-link {
  color: $anchor-white !important;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-nav .nav-item .fa-container {
  color: $anchor-white;
}

.sidebar h3 {
  background-color: $background-red;
  color: #fff;
}

.social-bar a {
  color: $anchor-white;
}

.social-bar a:hover {
  color: $anchor-hover-red;
}
